<div class="container">
    <atropos (onEnter)="log('enter')"
             (onLeave)="log('leave')"
    >
        <img data-atropos-offset="-4.5" src="https://raw.githubusercontent.com/nolimits4web/atropos/master/playground/react/i/atropos-bg.svg" alt="" />
        <img data-atropos-offset="-2.5" src="https://raw.githubusercontent.com/nolimits4web/atropos/master/playground/react/i/atropos-mountains.svg" alt="" />
        <img data-atropos-offset="0" src="https://raw.githubusercontent.com/nolimits4web/atropos/master/playground/react/i/atropos-forest-back.svg" alt="" />
        <img data-atropos-offset="2" src="https://raw.githubusercontent.com/nolimits4web/atropos/master/playground/react/i/atropos-forest-mid.svg" alt="" />
        <img data-atropos-offset="4" src="https://raw.githubusercontent.com/nolimits4web/atropos/master/playground/react/i/atropos-forest-front.svg" alt="" />
        <img data-atropos-offset="5" src="https://raw.githubusercontent.com/nolimits4web/atropos/master/playground/react/i/atropos-logo-en.svg" alt="" />
    </atropos>
</div>

